/* Código CSS para o header */
* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color:#38362F;
    color: #fff;
    padding: 10px;

}
.material-symbols-outlined{
    cursor: pointer;
    color: #FFC800;
}

.navegation{
    position: fixed;
    z-index: 1;
    max-width: 0px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #38362F;
    transition: 0.5s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.navegation ul {
    list-style-type: none;
    
}
.navegation ul li{
    padding: 7px;
}
.navegation ul li:hover{
    background-color: #ffc8007b;
}
.navegation ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    padding: 10px;
}
.home{
    padding: 10px;
    color: #FFC800;
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 20px;
}
#close{
    font-size: 25px;
    color: #FFC800;
    transition: 0.1s;
}
#titulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #38362F;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#titulo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #554f391e url('../image/fundo2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}
#titulo h1, #titulo p, #titulo .botao {
    position: relative;
    z-index: 1;
}
#titulo h1 {
    text-align: center;
    max-width: 1000px;
    padding: 10px;
    z-index: -1;
}
#titulo p {
    font-size: 20px;
    padding: 10px;
    z-index: -1;
}
#titulo > a{
    text-decoration: none;
    background-color: #FFC800;
    color: #38362F;
    padding: 10px;
    border-radius: 7px;
}
#titulo > a:hover{
    opacity: 0.8;
}

/* Código CSS para os Serviços */
.servicos {
    color: #fff;
    background-color: #38362fbf;
    padding: 20px 0; /* Adicionado padding para espaçamento */
}
.servico {
    text-align: center;
    padding: 10px;
}
.conteiner {
    gap: 20px;
}
.content {
    max-width: 295px;
    height: 200px;
    background-color: #ffc800be;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.265);
    margin: auto;
    margin-bottom: 10px;
}
table {
    width: 100%; 
    border: none;
    border-collapse: collapse;
    margin: 20px 0; 
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    overflow: hidden; 
}

th, td {
    padding: 12px; 
    text-align: left;
    font-size: 14px;
}

th {
    background-color: #38362F; 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
}

td {
    background-color: #f4f4f4; 
    border-bottom: 1px solid #ddd; 
}

tr:nth-child(even) td {
    background-color: #e9e9e9; 
}

tr:hover td {
    background-color: #d3d3d3; 
    transition: background-color 0.3s ease; 
}

table, th, td {
    border: 1px solid #ddd; 
}

.converte {
    display: inline-block;
    margin-right: 10px; 
}
#coin-name {
    margin-left: 0; 
}
.converter {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin: 10px;
}
#converteu{
    text-align: center;
}
#converteu > h4{
    margin: 15px;
}
hr{
    width: 80%;
    margin: auto;
    margin-top: 25px;
    color: #33333325;
}
input[type=number], select {
    height: 35px;
    width: 250px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 7px;
}
::placeholder{
    padding: 5px;
}
select {
    margin-top: 5px;
    height: 29px;
}
input[type=submit] {
    cursor: pointer;
    margin-top: 10px;
    padding: 7px;
    width: 100px;
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    background-color: #38362F;
    color: #FFC800;
    margin-bottom: 10px;
}
input[type=submit]:hover {
    background-color: #FFC800;
    color: #38362F;
}
.contact {
    background-color: #f4f4f4;
    padding: 40px 0;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

.contact input, .contact textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.contact button {
    background-color: #FFC800;
    color: #38362F;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact button:hover{
    opacity: 0.8;
}
.contact h2 {
    margin-bottom: 20px; 
}

.contact p {
    margin-top: 0; 
    margin-bottom: 20px;
}

/* Rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}
